@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Amatic SC", sans-serif;

}

body {
    background-color: rgb(255, 0, 0);
    width: 100%;
}

header {
    z-index: 1;
    position: fixed;
    display: flex;
    background-color: rgb(218, 34, 21);
    width: 100%;
    display: block;
    opacity: 0.8;

}

.topo {
    display: flex;
    justify-content: center;

}

.i {
    color: #ffffff;

}


#animacaoTop {
    display: inline;
    padding: 20px;
    font-size: 40px;

}


#animacaoTop:hover {
    transition: .3s all ease;

    background-color: #ffffff;

    a {
        color: black;
    }
}

a {
    text-decoration: none;
    color: #ffffff;

}


.container {
    display: flex;

}


.card1 {
    height: 800px;
    flex: 1;
    transition: .3s all ease;
    background-image: url(./assets/c1c05153-f6b6-471f-a45d-276750cc5c1a.jpeg);
    border-right: solid rgb(255, 255, 255);
    background-position: center;
    background-size: cover;
    border-bottom: solid #ff0000;

}

.card1:hover {
    flex: 2;
    background-color: aqua;
}

.card2 {
    height: 800px;

    flex: 1;

    transition: .3s all ease;
    background-image: url(./assets/hamburgueria_em_maua_abc_imovel_blog.jpg);
    background-position: center;
    background-size: cover;
    border-bottom: solid #ff0000;

}

.card2:hover {
    flex: 2;
    background-color: aqua;
}

.card3 {
    border-left: solid rgb(255, 255, 255);
    height: 800px;

    flex: 1;
    transition: .3s all ease;
    background-image: url(./assets/refri-guarana.webp);
    background-position: center;
    background-size: cover;
    border-bottom: solid #ff0000;
}

.card3:hover {
    flex: 2;
    background-color: aqua;
}

h2 {
    color: #ffffff;
    font-size: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 70px;
    padding: 50px;
}

span {
    color: rgb(218, 34, 21);
}

.cardapio {
    display: grid;
    list-style: none;
    grid-template-columns: 300px 300px 300px;
    gap: 20px;
    justify-content: center;
}

p {
    color: #ffffff;
    font-size: 20px;
    font-weight: 900;
    margin-left: 10px;
}

.valorP {
    color: #008000
}

img {
    width: 100%;
    border-radius: 5px;
}

#carti {
    position: fixed;
    border: none;
    border-radius: 100px;
    right: 59px;
    bottom: 43px;
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 1;

}

.carrinho {
    position: relative;
    left: 12px;
    top: 11px;
}

.cardapio {
    display: grid;
    list-style: none;
    grid-template-columns: 300px 300px 300px;
    gap: 30px;
    margin-left: 35px;


}

.cardmenu {
    width: 250px;
    height: 304px;
    border-radius: 20px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
        -15px -15px 30px rgb(194, 191, 191);
    transition: 0.2s ease-in-out;

}

.cardmenu:hover {
    transform: scale(1.1);
}

.buttons {

    margin-left: 430px;
    margin-bottom: 70px;

    cursor: pointer;

}

.bt {
    color: rgb(255, 255, 255);
    border: none;
    background-color: transparent;
    padding-left: 10px;
    font-size: 60px;
    font-weight: 900;
    cursor: pointer;
    margin-left: 30px;
}

.bt:hover {
    color: #ff5e00;
    transition: all 0.5s;
    text-decoration: underline;
}

.pedirMais {
    position: relative;
    left: 590px;
    bottom: -161px;
    z-index: 1;
    background-color: transparent;
    width: 441px;
    height: 50px;
    border-radius: 30px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 100;
    font-family: bold;
    border: solid #ffffff;
}

.pedirMais:hover {
    background-color: #ffffff;
    color: #000;
}

.fundo {
    background-image: url(./assets/6f48643ecafbedae88eea843eb3fdbd7.jpg);
    background-size: cover;
    background-repeat: repeat;
    padding-bottom: 240px;
    z-index: -1;
    width: 100%;
}

#cheddar {
    position: absolute;
    display: block;
    top: 900px;
    transform: translate3d(0px, -8.60058px, 0px);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    width: 100px;
}

#tomate {
    position: absolute;
    width: 170px;
    top: 1040px;
    left: 170px;
}

#alface {
    position: absolute;
    width: 298px;
    left: 1285px;
}

#pote {
    width: 200px;
    position: absolute;
    top: 1000px;
    left: 1282px;
}

@media screen and (max-width:1100px) {

    .fundo {
        background-image: url(./assets/6f48643ecafbedae88eea843eb3fdbd7.jpg);
        padding-bottom: 370px;
        z-index: -1;
        width: 100%;
    }

    .buttons {

        margin-left: 174px;

    }

    #tomate {
        top: 893px;
        left: 724px;
        width: 123px;
    }

    #alface {
        width: 298px;
        left: 785px;
        top: 1954px;
    }

    #pote {
        width: 78px;
        top: 903px;
        left: 965px;
    }

    .pedirMais {
        left: 320px;
    }

}

@media screen and (max-width:915px) {

    .buttons {
        margin-left: 100px;
    }

    .cardmenu {
        width: 190px;
        height: 251px;
    }

    .cardapio {
        grid-template-columns: 20px 20px 20px;
        gap: 208px;
        margin-left: -154px;
    }

    #alface {

        left: 600px;
        top: 2026px;
    }

    .pedirMais {
        left: 246px;
    }

    #tomate {
        top: 893px;
        left: 601px;
        width: 90px;
    }

    #pote {
        width: 78px;
        top: 850px;
        left: 810px;
    }
}

@media screen and (max-width:790px) {
    #tomate {
        top: 908px;
        left: 519px;
        width: 72px;
    }

    #pote {
        left: 692px;
    }

    #alface {
        left: 475px;
        top: 2026px;
    }

    .pedirMais {
        left: 172px;
    }

    .buttons {
        margin-left: 12px;
    }
}

@media screen and (max-width:750px) {
    #animacaoTop {
        font-size: 35px;
    }

    #pote {
        left: 655px;
    }

    .buttons {
        margin-left: -15px;
    }

    #alface {
        left: 435px;

    }

    .pedirMais {
        left: 159px;
    }
}

@media screen and (max-width:708px) {
    #animacaoTop {
        font-size: 34px;
    }

    #pote {
        left: 615px;
    }

    .buttons {
        margin-left: 56px;
    }

    #alface {
        left: 435px;

    }

    .pedirMais {
        left: 159px;
    }

    .bt {
        font-size: 45px;
    }

    #alface {
        left: 393px;
        top: 2007px;
    }
}

@media screen and (max-width:665px) {
    #animacaoTop {
        font-size: 31px;
    }

    .card1 {
        height: 723px;
    }

    .card2 {
        height: 723px;
    }

    .card3 {
        height: 723px;
    }

    h2 {
        font-size: 58px;
        line-height: 58px;
    }

    .buttons {
        margin-left: 25px;
    }

    #tomate {
        top: 821px;
        left: 424px;
    }

    #pote {
        left: 569px;
        top: 778px;
    }

    #cheddar {
        width: 43px;
    }

    .cardmenu {
        width: 128px;
        height: 188px;
    }

    .cardapio {

        gap: 144px;
        margin-left: -105px;
    }

    #alface {
        left: 350px;
        top: 1716px;
    }

    .pedirMais {
        left: 99px;
    }




}

@media screen and (max-width:593px) {
    .card1 {
        height: 423px;
    }

    .card2 {
        height: 423px;
    }

    .card3 {
        height: 423px;
    }

    #animacaoTop {
        font-size: 27px;
    }

    h2 {
        font-size: 47px;
        line-height: 46px;
    }

    .bt {
        font-size: 32px;
    }

    #tomate {
        top: 505px;
        left: 391px;
        width: 55px;
    }

    #pote {
        left: 493px;
        top: 448px;
        width: 72px;
    }

    #alface {
        left: 312px;
        top: 1410px;
        width: 261px;
    }

    .pedirMais {
        left: 74px;
        width: 406px;
    }


}

@media screen and (max-width:473px) {
    #animacaoTop {
        font-size: 19px;
    }

    h2 {
        font-size: 35px;
        line-height: 39px;
    }

    #tomate {
        top: 509px;
        left: 311px;
        width: 42px;
    }

    #pote {
        left: 377px;
        top: 448px;
        width: 59px;
    }

    .bt {
        font-size: 25px;
    }

    .buttons {
        margin-left: 12px;
    }

    .cardmenu {
        width: 100px;
        height: 167px;
    }

    p {

        font-size: 16px;
    }

    .cardapio {
        gap: 111px;
        margin-left: -83px;
    }

    .pedirMais {
        left: 45px;
        width: 364px;
        font-size: 17px;
    }

    #alface {
        left: 195px;
        top: 1313px;
        width: 261px;
    }
}
@media screen and (max-width:390px){
    #animacaoTop {
        font-size: 12px;
    }
    .card1 {
        height: 352px;
    }
    .card2 {
        height: 352px;
    }
    .card3 {
        height: 352px;
    }
    .bt {
        font-size: 20px;
    }
    .buttons {
        margin-left: -11px;
    }
    #tomate {
        top: 425px;
        left: 256px;
        width: 42px;
    }
    #pote {
        left: 315px;
        top: 388px;
        width: 59px;
    }
    .pedirMais {
        left: 71px;
        width: 246px;
        font-size: 13px;
        height: 40px;
        bottom: -139px;
    }
    .cardmenu {
        width: 77px;
        height: 125px;
        border-radius: 8px
    }
    p {
        font-size: 11px;
    }
    .cardapio {
        gap: 88px;
        margin-left: -53px;
    }
    #alface {
        left: 133px;
        top: 1139px;
        width: 240px;
    }
    #carti{
        bottom: 27px;
        width: 50px;
    }
}
