@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Amatic SC", sans-serif;

}

body {
    position:absolute;
    background-color: rgb(31, 29, 29);
}
.fundo{
    position: relative;

   
}



header {
    position: fixed;
    display: flex;
    background-color: rgb(218, 34, 21);
    width: 100%;
    display: block;
    opacity: 0.8;
    z-index: 1;

}

.topo {
    display: flex;
    justify-content: center;


}

.i {
    color: #ffffff;

}

#animacaoTop {
    display: inline;
    padding: 20px;
    font-size: 40px;

}


#animacaoTop:hover {
    transition: .3s all ease;

    background-color: #ffffff;

    a {
        color: black;
    }
}

a {
    text-decoration: none;
    color: #ffffff;

}




.container {
    display: flex;

}


.card1 {
    height: 800px;
    flex: 1;
    transition: .3s all ease;
    background: url(./assets/c1c05153-f6b6-471f-a45d-276750cc5c1a.jpeg);
    border-right: solid rgb(255, 255, 255);
    background-position: center;
    background-size: cover;
  

    
}



.card1:hover {
    flex: 2;
   
 
}

.card2 {
    height: 800px;
    flex: 1;
    transition: .3s all ease;
    background-image: url(./assets/hamburgueria_em_maua_abc_imovel_blog.jpg);
    background-position: center;
    background-size: cover;

}

.card2:hover {
    flex: 2;

}

.card3 {
    border-left: solid rgb(255, 255, 255);
    height: 800px;
    flex: 1;
    transition: .3s all ease;
    background: url(./assets/refri-guarana.webp);
    background-position: center;
    background-size: cover;


}

.card3:hover {
    flex: 2;

}

h2 {
    color: #ffffff;
    font-size: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 70px;
    padding: 60px;
}

span {
    color: rgb(218, 34, 21);
}

.cardapio {
    display: grid;
    list-style: none;
    grid-template-columns: 300px 300px 300px;
    gap: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 40px;
}

.cardmenu {
    width: 250px;
    height: 304px;
    border-radius: 20px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);
              transition: 0.2s ease-in-out;

}
.cardmenu:hover{
    transform: scale(1.1);
}

p {
    color: #ffffff;
    font-size: 20px;
    font-weight: 900;
    margin-left: 10px;
}
.valorP{
    color: #008000
}

img {
    width: 100%;
    border-radius: 5px;
}

.cardimg {
    z-index: 1;
    padding: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: 1.5s cardimg;
}
.cardimg:hover {
    transition: .3s all ease;
    opacity: 1;
  
}


@keyframes cardimg {
    0% {
        transform: scale(2.0);
    }

    100% {
        transform: scale(2.0);
    }
}
.buttons{
position: relative;
left: 500px;
bottom: 20px;
    
}
.bt{
  color: rgb(218, 34, 21); 
  border: none;
  background-color: transparent;
  padding-left: 23px;
  font-size: 50px;
 font-weight: 900;
 cursor: pointer;
}
.bt:hover{
    color: #df5709;
    transition: all 0.3s;
}
#carti{
    position:fixed;
    border: none;
    border-radius: 100px;
    z-index: 1;
    right: 59px;
    bottom: 43px;
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    }
    .carrinho{
      position: relative;
      left: 12px;
      top: 11px;
    }
